@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Cedarville+Cursive&family=Encode+Sans+SC:wght@400;500&family=Finger+Paint&family=Gorditas&family=Kranky&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100&family=Rubik+Gemstones&family=Style+Script&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family:'Poppins', sans-serif;
}
